# ===========================
# Node
# ===========================
node_modules/
npm-debug.log*
package-lock.json.bak

# ===========================
# Sistema Operativo
# ===========================
.DS_Store
Thumbs.db

# ===========================
# VS Code
# ===========================
.vscode/settings.json

# ===========================
# Logs
# ===========================
*.log

# ===========================
# Archivos temporales
# ===========================
tmp/
temp/

# ===========================
# Playwright
# ===========================
playwright-report/
test-results/

# ===========================
# Cobertura
# ===========================
coverage/

# ===========================
# Cache
# ===========================
.cache/